@inherits LayoutComponentBase

<!-- head was moved here from App.razor in Web project -->
<head>
    <link rel="stylesheet" href="_content/AppShareOn.Client.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/AppShareOn.Client.Shared/assets/vendor/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="_content/AppShareOn.Client.Shared/assets/css/main.css" />
    <link rel="stylesheet" href="AppShareOn.Client.Web.styles.css" />
</head>

<div class="page">
    @Body
</div>

<!-- Moved from App.razor in Web project -->
<script src="_framework/blazor.web.js"></script>