<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span>About Us<br></span>
        <h2>About</h2>
        <p>Empowering businesses with smart tech solutions that drive innovation and growth.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
                <img src="_content/AppShareOn.Client.Shared/assets/img/about.png" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
            </div>

            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Your partner in innovative tech solutions.</h3>
                <p class="fst-italic">
                    At AppShareOn, we bring together decades of expertise in technology, data science, and marketing
                    to create impactful tools for businesses in hospitality and entertainment. Our flagship product
                    scours the web to discover and compile social media posts relevant to your products, services,
                    or events, building a comprehensive, organized database.
                    With this, you can effortlessly showcase targeted content on digital wall boards and more.
                </p>
                <ul>
                    <li><i class="bi bi-check2-all"></i> <span>Comprehensive search across multiple social media
                            platforms, unifying your view.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Advanced tools for post management and customer
                            engagement.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>In-depth analytics to better understand and connect
                            with your audience.</span></li>
                </ul>
                <p>
                    Showcase your favorite social media content anywhere—from phones and computers to TV screens,
                    public displays, and custom wall boards. With our solutions, showcasing your brand has never
                    been easier or more effective.
                </p>
            </div>

        </div>

    </div>
    
</section>