<section id="services" class="services section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span>Services</span>
        <h2>Services</h2>
        <p>Comprehensive solutions to meet your needs at every turn.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-wrench-adjustable-circle-fill"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Setup</h3>
                    </a>
                    <p>We assist you in setting up your system, accounts, posts, and displays, ensuring everything
                        is configured for optimal performance.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-mortarboard-fill"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Training</h3>
                    </a>
                    <p>We provide training on how to gather posts from various social media platforms and manage
                        their display on wall boards effectively.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-headset"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Support</h3>
                    </a>
                    <p>Our support services are available to help you with any questions or issues related to our
                        offerings, ensuring a smooth experience.</p>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>
    
</section>