@page "/"
@using AppShareOn.Client.Shared.Layout
@using AppShareOn.Client.Shared.Pages.Landing
@layout LandingLayout

<Header />
<main class="main">
    <Hero />
    <Featured />
    <About />
    <Stats />
    <Services />
    <!-- <Portfolio /> Enable once there is portfolio -->
    <Testimonials />
    <CallToAction />
    <!-- <Team /> Maybe later -->
    <Contact />
</main>
<Footer />
