<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <!--link rel="stylesheet" href="_content/AppShareOn.Client.Shared/app.css" /> -->
    <!--link rel="stylesheet" href="AppShareOn.Client.Web.styles.css" /> -->
    <link rel="icon" type="image/png" href="_content/AppShareOn.Client.Shared/favicon.png" />

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
</body>

</html>
